/* Responsive Screen Sizes */
$screen-sm-max: 379px;
$screen-xs-min: 380px;
$screen-sm-max: 767px;
$screen-sm-min: 768px;
$screen-md-max: 991px;
$screen-md-min: 992px;
$screen-lg-max: 1999px;
$screen-lg-min: 1200px;

/* Element */
$element-border-radius: 6px;

// max-width 767, min-width: 768px, max-width: 991px, min-width: 992px, max-width: 1199px, min-width: 1200px
