* {
  /* Defaults: */
  margin: 0;
  padding: 0;
  transition: all 0.15s ease-out;
}

html, body,
#app, .app {
  height: 100%;
}

body {
  font-family: $p-font; 
  background-color: #3167C1;
  background-image: url('./img/dancarr-splash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -100px top;
  overflow: hidden;

  @media screen and (min-width: 1024px) {
    background-position: center top; 
  }
}