/* -------------- Foo Component --------------
* BLOCK:
* .menu-item
* ELEMENT:
* MODIFIER:
* .menuItem--active
* .menuItem--normal
* -------------- Variables -------------------
*/
.menu-item {
  display: inline-block;
  height: 100%;
  padding: 12px 24px;
  text-align: center;

  span {
    display: inline-block;
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 25%;
  }
  /* Link -> a (react-router) */
  a {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    font-family: $h-font;
    font-size: 24px;
    font-weight: 400;
    display: block;
    width: 100%;
    &:hover {
      color: white;
    }
  }

  /* Selected */
  .active {
    color: white;
    pointer-events: none;
  }

  /* Unselected */
  .normal {
    color: lightgray;
  }
}

/* Selected */
.active-item {
  color: white;
  pointer-events: none;
}

/* Unselected */
.normal-item {
  color: lightgray;
  background-color: rgba(255, 255, 255, 0);
}

.menu-item-external {
  display: inline-block;
  
  a {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    padding: 14px 24px;
    font-size: 24px;
    display: block;
    color: lightgray;
    &:hover {
      color: white;
    }
  }
}

.menu-item:last-child {
  border-right: none;

  @media screen and (min-width: 1024px) {
    margin-right: 20px;
  }
}