/* -------------- Menu Component --------------
* BLOCK:
* .menu
* ELEMENT:
* MODIFIER:
* -------------- Variables -------------------
*/
.menu {
  background-color:rgba(255, 255, 255, 0);
  width: 65%;
  float: right;
  position: relative;
  margin: 10px 0;
  bottom: 0px;
  text-align: right;
  display: none;

  @media screen and (min-width: 1024px) {
    display: inline-block;
  }
}