/* -------------- Menu Component --------------
* BLOCK:
* .menu
* ELEMENT:
* MODIFIER:
* -------------- Variables -------------------
*/
.menu {
  position: fixed;
  bottom: -12px;
  left: 0;
  margin: 0px 0;
  padding: 0;
  text-align: center;
  list-style: none;
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  @media screen and (min-width: 1024px) {
    background-color:rgba(255, 255, 255, 0);
    width: 55%;
    float: right;
    position: relative;
    margin: 10px 0;
    bottom: 0px;
    text-align: right;
  }
}