/* -------------- DetailItem Component --------------
* BLOCK:
* .detail-item
* ELEMENT:
* MODIFIER:
* .menuItem--active
* .menuItem--normal
* -------------- Variables -------------------
*/
.scroll-view {
  width: 100%;
  margin-top: 50px;
  overflow: auto;
  /*border: 4px dashed gray;*/

  @media screen and (min-width: 1024px) {
    margin-top: 75px;
    padding: 0 10%;
  }

  @media screen and (min-width: 1600px) {
    padding: 0 14%;
  }

  @media screen and (min-width: 1920px) {
    padding: 0 19%;
  }

  @media screen and (min-width: 2250px) {
    padding: 0 23%;
  }
}
