/* -------------- Foo Component --------------
* BLOCK:
* .home
* ELEMENT:
* MODIFIER:
* -------------- Variables -------------------
*/
.home {
    padding: 150px 30px 0 30px;
    color: white;

    h2 {
        font-family: $h-font;
        font-size: 50px;
        line-height: 45px;
        letter-spacing: -4px;
    }

    p {
        display: none;
        margin-top: 20px;
        font-family: $p-font;
        font-size: 19px;
        line-height: 24px;
    }

    .email {
        display: block;
        padding-top: 10px;
        font-family: $h-font;
        font-size: 21px;
        color: #FFAF6A;

        @media screen and (min-width: 768px) {
           font-size: 36px;
        }
    }

    .separator {
        font-size: 21px;
        margin-left: 10px;

        @media screen and (min-width: 768px) {
           font-size: 36px;
        }
    }

    @media screen and (min-width: 414px) {
        padding: 200px 30px 0 30px;
        h2 {
            font-size: 65px;
            line-height: 55px;
        }
    }

    @media screen and (min-width: 768px) {
        padding: 250px 30px 0 30px;
        h2 {
            font-size: 100px;
            line-height: 90px;
        }
    }

    @media screen and (min-width: 1024px) {
        h2 {
            font-size: 120px;
            margin: 100px 0px 50px 0px;
            text-align: left;
            line-height: 100px;
            letter-spacing: -6px;
        }
        .email {
            margin-left: 10px;
        }
    }
}
