/* -------------- DetailItem Component --------------
* BLOCK:
* .detail-item
* ELEMENT:
* MODIFIER:
* .menuItem--active
* .menuItem--normal
* -------------- Variables -------------------
*/
.detail-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  position: relative;

  /*&:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }*/

  @media screen and (min-width: 768px) {
    margin: 0;
    padding-bottom: 40px;
    padding-right: 40px;
    border-right: 3px dashed lightgray;
  }

  @media screen and (min-width: 1024px) {
    /*padding: 20px;*/
  }

  h3 {
    font-family: $h-font;
    font-size: 24px;
    line-height: 32px;
    color: #FFF5AE;
    color: lightgray;
    color:#FFAF6A;

    @media screen and (min-width: 768px) {
      font-size: 32px;
      width: 380px;
    }
  }

  p {
    font-family: $p-font;
    font-size: 16px;
    color: white;
  }

  .description ,
  .note {
    font-size: 16px;
    font-weight: 400;

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  .year {
    display: none;
    position: absolute;
    right: -130px;
    width: 100px;
    top: 30%;
    font-size: 24px;
    line-height: 30px;
    color: #FFF5AE;
    color:#FFAF6A;
    text-align: left;
    /*transform: rotate(90deg);*/

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  .line {
    display: none;
    position: absolute;
    right: -20px;
    top: 0;
    color:white;
    width: 40px;
    height: 1px;
    border-top: 3px dashed lightgray;
    /*transform: rotate(90deg);*/

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  
  .type {
    color: lightgray;
    font-size: 16px;

    span {
      margin-left: 8px;
      margin-bottom: -8px;
    }

    @media screen and (min-width: 768px) {
      font-size: 19px;
    }
  }

  /* Selected */
  .active {
    color: white;
    font-weight: 700;
  }

  /* Unselected */
  .normal {
    color: lightgray;
    font-weight: 100;
  }
}
