/* -------------- Details Component --------------
* BLOCK:
* .details
* ELEMENT:
* MODIFIER:
* -------------- Variables -------------------
*/
.details {
  margin: 0;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 20px 40px 20px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 0px 100px 40px 20px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0px 100px 40px 0px;
  }
}