/* -------------- Header Container --------------
* BLOCK:
* .header
* ELEMENT:
* MODIFIER:
* -------------- Variables -------------------
*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 100000;
    /*border: 1px dashed white;*/

    .navicon {
        color:white;
        font-size: 24px;
        position: absolute;
        top: 14px;
        right: 20px;
        cursor: pointer;

        @media screen and (min-width: 1024px) {
            top: 24px;
            left: 14px;
        }
    }

    @media screen and (min-width: 1024px) {
        height: 75px;
    }
}